<h3>Recommended Concerts</h3>
<% if @concerts_users.any? %>
  <div>
    <h4>By Followed Users</h4>
    <ol class="microposts">
      <%= render @concerts_users %>
    </ol>
  </div>
<% end %>
<% if @concerts_system.any? %>
  <div>
	<h4>By the System</h4>
	<ol class="microposts">
	<%= render @concerts_system %>
	</ol>
  </div>
<% end %>
<h3>Recommended Bands</h3>
<% if @bands_popular.any? %>
  <div>
	<h4>Popular Among Users</h4>
	<ol class="microposts">
	<%= render @bands_popular %>
	</ol>
  </div>
<% end %>
<% if @bands_with_good_concerts.any? %>
  <div>
	<h4>With Highly Rated Concerts</h4>
	<ol class="microposts">
	<%= render @bands_with_good_concerts %>
	</ol>
  </div>
<% end %>
