<h1>
	<%= gravatar_for @user %>
	<%= @user.name %>
	<span style="font-size: 14px; margin-top: 10px;"><b>Reputation Score:</b> <%= @user.reputation_score %></span>
	<% if current_user?(@user) %>
		<span style="font-size: 14px; margin-top: 10px;"> <%= link_to "My concert lists", concert_lists_user_path %></span>
	<% end %>
</h1>