<% provide(:title, 'All Concerts') %>
<h1>All Concerts</h1>

<p><%= link_to "Advanced Search", new_search_path %></p>

<%= will_paginate %>

<ul class="users">
  <%= render @concerts.order('cdatetime DESC') %>
</ul>

<%= will_paginate %>