<h1>
	<%= gravatar_for @band %>
	<%= @band.name %>
	<span style="font-size: 14px; margin-top: 10px;"><b>Concerts:</b> <%= @band.concerts.count %></span>
    <span style="font-size: 14px; margin-top: 10px;"><%= link_to "View concerts", @concerts %></span>
</h1>