<% provide(:title, 'All Bands') %>
<h1>All Bands</h1>

<ul class="bands">
  <% @bands.each do |band| %>
    <li>
      <%= gravatar_for band, size: 50 %>
      <%= link_to band.name, band %>
    </li>
  <% end %>
</ul>