<% provide(:title, 'Bands - Sorted By Creation Date') %>
<h1>Bands - Sorted By Creation Date</h1>

<%= will_paginate %>

<ul class="bands">
  <%= render @bands.order('created_at DESC') %>
</ul>

<%= will_paginate %>